---
title: A page for your
layout: base.njk
---


<div class="container">
    <h1>This is a html file with javascript (client side rendering)</h1>
    <div class="vibe">
        You are great
    </div>


    <div class="love">
        <p>love love</p>
    </div>

</div>
<script src="/js/vibe.js"></script>
